body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    background-image: url('image (4).png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin-top: 70px;
}

/* For smaller screens (e.g., smartphones) */
@media (max-width: 480px) {
    body {
        background-size: contain; /* Or adjust as needed */
    }
}
.intro-text {
    color: #fff;
    text-align: center;
    opacity: 0; /* Initial opacity set to 0 */
    animation: fadeIn 2s ease-in-out forwards; /* Apply the fadeIn animation */
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1; /* At the end of the animation, set opacity to 1 */
    }
}
/* Sticky navigation bar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #333;
    color: white;
    padding: 10px 0;
    z-index: 100;
    transition: position 0.3s ease-in-out;
}

/* Rest of your CSS styles... */

/* Add the toggle styles for small screens */
.menu-toggle {
    display: none;
}

.menu-button {
    font-size: 24px;
    color: #333;
    cursor: pointer;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
}

.diary-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #333;
    position: absolute;
    top: 80px;
    right: -200px;
    width: 200px;
    transition: right 0.3s ease-in-out;
}

.diary-list ul li {
    margin: 0;
    padding: 0;
}

.diary-list ul li a {
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    transition: background-color 0.4s;
}

/* Add the media query for small screens */
@media (max-width: 768px) {
    /* CSS rules for smaller screens */

    /* Adjust font sizes, padding, and margins for mobile */
    input[type="text"],
    textarea {
        font-size: 16px;
        padding: 10px;
        margin-bottom: 10px;
    }

    /* Single-column layout for small screens */
    form {
        display: block;
    }

    input[type="text"],
    textarea,
    button {
        padding: 12px 20px;
        font-size: 16px;
    }
    input[type="text"],
    textarea {
        width: 100%;
    }
}
